body {
	overflow: show;
}

@font-face {
	font-family: "torre";
	src: url('/static/font/K26ToyBlocks123.ttf');
}

#principal {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#containment-wrapper {
	width: 100%;
	height: 100%;
}

* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

.none {
	display: none;
}

.photo {
	background: #2980b9;
	border: 0 !important;
	width: 85vw;
	max-width: 350px;
	color: #fff !important;
	transition: .3s;
}

.photo:hover {
	background: #3498db;
}

#imageModal.show {
	background: rgba(0, 0, 0, .5);
	z-index: 3000
}

#imageModal {
	background: rgba(0, 0, 0, 0);
	z-index: -1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: .2s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.save {
	margin: 15px !important;
}

.modal {
	opacity: 0;
	transform: scale(.3);
	display: flex;
	transition: .4s;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #fff;
	width: 500px;
	max-width: 90%;
	height: 400px;
	border-radius: 8px;
}

.modal.show {
	opacity: 1;
	transform: scale(1);
}

#imageCanvas {
	max-width: 90%;
	max-height: 320px;
}

.image-td {
	justify-content: center;
	display: flex;
	padding: 0;
}

.image-td img {
	align-self: center;
	width: 100%;
	max-width: 50px;
}

.modal img {
	max-width: 100%;
}

body {
	font-family: 'Patrick Hand', cursive !important;
	color: #2c3e50;
	background: #fcffff;
}

#titulo {
	font-family: 'torre' !important;
}

#mainFace, #winFace {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	transform: scale(1);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	transition: .4s;
	background-image: url('/static/img/fondo1.jpg');
}

#sentimientos {
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	transform: scale(1);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	opacity: 0;
	transition: .4s;
}

.sentimiento-img {
	width: 7vh;
}

/* HIDE RADIO */

[type=radio] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

/* IMAGE STYLES */

[type=radio]+img {
	cursor: pointer;
}

/* CHECKED STYLES */

[type=radio]:checked+img {
	outline: 2px solid #38ad53;
}

#bg {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#winFace {
	transform: scale(0);
}

#winFace h2 {
	font-size: 30px;
	margin: 40px auto;
}

.timer {
	text-transform: none;
	position: absolute;
	bottom: 70px;
}

.result {
	display: flex;
	justify-content: space-between;
	width: 40vw;
	margin-bottom: 65px;
}

.result h3 {
	letter-spacing: 1px;
	color: #2980b9;
}

.result p {
	text-transform: none;
}

#game {
	z-index: 10;
	margin: 0 auto;
	position: relative;
	display: flex;
	transform: scale(0);
	border-radius: 50%;
	transition: .4s;
	width: 80%;
	height: 100vh;
	justify-content: space-between;
	align-items: center;
	background-image: url('/static/img/fondo1.jpg');
}

p {
	margin: 20px 0;
}

ul {
	padding: 0;
	margin-top: 20px;
}

ul li {
	display: inline-block;
	margin: 0 15px;
}

.btn {
	text-decoration: none;
	color: #2c3e50;
	padding: 10px 20px;
	border: 2px solid #2c3e50;
	border-radius: 4px;
	letter-spacing: 1px;
	transition: .2s;
}

.active {
	background: #2c3e50;
	color: #fff;
	border: 2px solid #2c3e50;
}

.start {
	margin: 50px auto;
	background: #d35400;
	color: #fff;
	border: 0;
}

.start:hover {
	border: 0;
	color: #fff;
}

.game-btn {
	text-decoration: none;
	text-transform: uppercase;
	background: #d35400;
	color: #fff;
	padding: 4px 10px;
	transition: .2s;
	border-radius: 20px;
	font-size: 14px;
	width: 63px;
	text-align: center;
	margin: 12px 0;
}

.start:active, .game-btn:active {
	transform: scale(.9);
}

.tower {
	z-index: 2;
	margin: 0 auto;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 33.333%;
}

.torre {
	width: 20px;
	height: 200px;
	background: #AA813C;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.base {
	width: 80vw;
	height: 20px;
	background: #AA813C;
	border-radius: 10px;
	position: absolute;
	top: 100%;
}

#juego {
	width: 100%;
	display: flex;
	position: relative;
	top: 15px;
}

.aro {
	z-index: 3;
	height: 20px;
	border-radius: 8px;
	position: absolute;
}

#drag1 {
	width: 18vw;
	left: 4.3vw;
	bottom: 0;
	background: red;
}

#drag2 {
	width: 16vw;
	left: 5.3vw;
	bottom: 20px;
	background: yellow;
}

#drag3 {
	width: 14vw;
	left: 6.3vw;
	bottom: 40px;
	background: green;
}

#drag4 {
	width: 12vw;
	left: 7.3vw;
	bottom: 60px;
	background: blue;
}

#drag5 {
	width: 10vw;
	left: 8.3vw;
	bottom: 80px;
	background: cyan;
}

#drag6 {
	width: 8vw;
	left: 9.3vw;
	bottom: 100px;
	background: purple;
}

#drag7 {
	width: 6vw;
	left: 10.3vw;
	bottom: 120px;
	background: gray;
}

#drag8 {
	width: 4vw;
	left: 11.3vw;
	bottom: 140px;
	background: black;
}

.points {
	z-index: 10;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	top: 10vh;
	left: 0;
	font-weight: 600;
}

.controls {
	display: flex;
	flex-direction: column;
}

#pauseFace {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	transition: .4s;
	opacity: 0;
	z-index: 0;
	left: 0;
	background: #fcffff;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 30px;
	background-image: url('/static/img/fondo1.jpg');
}

#pauseFace .game-btn {
	margin-top: 35px;
	font-size: 16px;
	padding: 10px 15px;
	width: auto;
}

p span {
	font-weight: 400;
}

#user {
	position: absolute;
	display: block;
	width: 100%;
	text-align: center;
	top: 25vh;
	color: #007bff;
}

.resultados {
	display: flex;
	width: 100%;
	height: 100vh;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.resultados h1 {
	text-transform: uppercase;
	color: #007bff;
}

.resultados table {
	width: 100%;
	max-width: 600px;
	text-align: center;
	border-collapse: collapse;
}

th {
	background: #2c3e50;
	color: #fff;
}

td, th {
	border: 1px solid #ddd;
	padding: 8px;
}

.user-row {
	font-weight: 600;
	color: #007bff;
}

.ranking-face {
	transition: .4s;
	position: absolute;
	transform: scale(0);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}